body {
    margin: 0;
}

#app {
    height: 100vh;
}

section {
    height: 100%;
}

a,
a:hover {
    color: inherit;
    text-decoration: none;
}

/* 滚动条 */
.scrollable-container {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.15);
    transition: color 0.2s ease;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}